.universal-title-big {
    font-size: 20px;
    -unity-font-style: bold;
    margin: 4px;
}


.universal-text {
    white-space: normal;
    font-size: 12px;
    margin: 4px;
}


.universal-title-small {
    font-size: 12px;
    -unity-font-style: bold;
    margin: 4px;
}


.validation-header-container {
    flex-direction: row;
    align-items: center;
    min-height: 48px;

    padding-left: 8px;
    padding-right: 8px;
}


.validation-header-container > Label {
    flex-grow: 1;
}


.validation-profile-container {
    flex-direction: row;
    align-items: center;
}


.validation-profile-container > Label {
    font-size: 16px;
    margin-right: 6px;
    -unity-font-style: bold;
}


.validation-profile-container .unity-object-field {
    width: 300px;
}


.validate-button {
    min-width: 120px;

    margin-left: 8px;
    margin-right: 8px;
}


.clear-button {
    min-width: 70px;

    margin-left: 8px;
    margin-right: 8px;
}

.save-button {
    min-width: 100px;
    margin-left: 8px;
    margin-right: 8px;
    
    -unity-font-style: bold-and-italic;
}


.validation-detail-section-container {
    margin: 12px 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.validation-results-container {
    flex-grow: 1;
    min-height: 0;
}

.validation-result-panel {
    flex-grow: 1;

    padding: 6px 8px;

    min-width: 0;
    min-height: 0;

    overflow: hidden;
}


.validation-details-panel {
    flex-grow: 1;

    padding-left: 8px;
    padding-right: 8px;

    min-width: 0;
    min-height: 0;

    overflow: hidden;
}


.validation-result {
    padding: 4px 8px;
    margin-bottom: 2px;
}

.validation-result-severity {
    font-size: 14px;
    -unity-font-style: bold;
    margin-bottom: 2px;
}

.validation-result-rule {
    font-size: 16px;
    -unity-font-style: bold;
    margin-bottom: 2px;
}

.validation-result-message {
    font-size: 12px;
    white-space: normal;
}


.severity-error {
    border-left-width: 4px;
    border-left-color: #FF4040;
}

.severity-warning {
    border-left-width: 4px;
    border-left-color: #FFFF40;
}

.severity-info {
    border-left-width: 4px;
    border-left-color: cornflowerblue;
}

.severity-error-text {
    color: #FF4040;
}

.severity-warning-text {
    color: #FFFF40;
}

.severity-info-text {
    color: cornflowerblue;
}


.validation-summary-container {
    flex-direction: row;
    min-height: 58px;

    margin-top: 4px;
    margin-bottom: 6px;

    padding-left: 8px;
    padding-right: 8px;
}


.validation-summary-item-container {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;

    padding-left: 12px;
    padding-right: 12px;
}


.validation-summary-title {
    font-size: 12px;
    -unity-font-style: bold;
}


.validation-summary-count {
    font-size: 20px;
    -unity-font-style: bold;
    margin-left: 8px;
}


.summary-error {
    color: #FF4040;
    border-left-width: 3px;
    border-left-color: #FF4040;
}

.summary-warning {
    color: #FFFF40;
    border-left-width: 3px;
    border-left-color: #FFFF40;
}

.summary-info {
    color: cornflowerblue;
    border-left-width: 3px;
    border-left-color: cornflowerblue;
}